.forms {
  width: 250px;
}

.bod {
  background: url(/images/background.jpeg) no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 50px;
  font-family: sans-serif;
}

p {
  width: 350px;
}

.header {
  text-align: center;
  letter-spacing: 2px;
}
.btn {
  margin: 10px;
}

.btn-primary {
  margin-top: 25px;
}

.homeLink {
  margin: 50px;
  float: left;
}
